#gheader {
  position: absolute;
  z-index: 10;
  a {
    background: -webkit-linear-gradient(top, #000, #678875);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    text-shadow: -2px -2px 0px orange;
    margin-left: 5px;
    margin-top: 5px;
  }
}