<div class="container-fluid nopadding">
  <div class="in_body">

    <header class="page-header">
      <h1>{{'blog.index.TITLE' | translate}}</h1>
      <p>{{'blog.index.CONTENT' | translate}}</p>
    </header>

    <div class="col-md-3 col-sm-6" *ngFor="let art of homeArts">
      <div class="service-box">
        <div class="service-icon yellow">
          <div class="front-content">
            <i class="fa fa-trophy"></i>
            <h3>{{ art.title }}</h3>
          </div>
        </div>
        <div class="service-content">
          <h3>{{ art.contentTitle }}</h3>
          <p>{{ art.content }}</p>
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="service-box">
        <div class="service-icon yellow">
          <div class="front-content">
            <i class="fa fa-trophy"></i>
            <h3>Angular</h3>
          </div>
        </div>
        <div class="service-content">
          <h3>简介</h3>
          <p>一套框架，多种平台,同时适用手机与桌面</p>
          <p>本站使用Angular(RC4)搭建而成</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="service-box">
        <div class="service-icon orange">
          <div class="front-content">
            <i class="fa fa-anchor"></i>
            <h3>Asp.Net</h3>
          </div>
        </div>
        <div class="service-content">
          <h3>php developer</h3>
          <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not
            know how to pursue pleasure</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="service-box ">
        <div class="service-icon red">
          <div class="front-content">
            <i class="fa fa-trophy"></i>
            <h3>ThreeJS</h3>
          </div>
        </div>
        <div class="service-content">
          <h3>Developer</h3>
          <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not
            know how to pursue pleasure</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="service-box">
        <div class="service-icon grey">
          <div class="front-content">
            <i class="fa fa-paper-plane-o"></i>
            <h3>AmmoJS</h3>
          </div>
        </div>
        <div class="service-content">
          <h3>java script</h3>
          <p>No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not
            know how to pursue pleasure</p>
        </div>
      </div>
    </div>
  </div>
</div>