.mainIndex {
  background-image: url(../../../../assets/img/bg-image.jpg);
  background-size: cover;
  background-position: 20% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;

  .overColor {
    @extend .mainIndex;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;

    p {
      text-align: right;
      font-size: 5em;
      margin: 0px 20px 0px 0;
    }

    a {
      text-decoration: none;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      transition: all 0.5s;
    }

    p:nth-child(1) a {
      color: white;
      font-size: 0.3em;
      span {
        font-size: 3em;
      }
      font-family: Fantasy;
    }

    p:nth-child(1) a:hover {
      -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
      -moz-animation: neon1 1.5s ease-in-out infinite alternate;
      animation: neon1 1.5s ease-in-out infinite alternate;
    }

    p:nth-child(2) a {
      color: #FF9900;
      font-family: Fantasy;
      span {
        color: plum;
        font-size: 0.4em;
      }
    }

    p:nth-child(2) a:hover {
      -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
      -moz-animation: neon2 1.5s ease-in-out infinite alternate;
      animation: neon2 1.5s ease-in-out infinite alternate;
    }

    @-webkit-keyframes neon1 {
      from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #228DFF,
        0 0 70px #228DFF,
        0 0 80px #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
      }
      to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
      }
    }

    @-webkit-keyframes neon2 {
      from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #FF9900,
        0 0 70px #FF9900,
        0 0 80px #FF9900,
        0 0 100px #FF9900,
        0 0 150px #FF9900;
      }
      to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FF9900,
        0 0 35px #FF9900,
        0 0 40px #FF9900,
        0 0 50px #FF9900,
        0 0 75px #FF9900;
      }
    }
    @-moz-keyframes neon2 {
      from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #FF9900,
        0 0 70px #FF9900,
        0 0 80px #FF9900,
        0 0 100px #FF9900,
        0 0 150px #FF9900;
      }
      to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FF9900,
        0 0 35px #FF9900,
        0 0 40px #FF9900,
        0 0 50px #FF9900,
        0 0 75px #FF9900;
      }
    }
    @keyframes neon2 {
      from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #FF9900,
        0 0 70px #FF9900,
        0 0 80px #FF9900,
        0 0 100px #FF9900,
        0 0 150px #FF9900;
      }
      to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FF9900,
        0 0 35px #FF9900,
        0 0 40px #FF9900,
        0 0 50px #FF9900,
        0 0 75px #FF9900;
      }
    }
  }

  .footer {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 2%;
    z-index: 6;

    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: left;
    bottom: 0;

    form {
      input {
        margin: 0px;
        font-size: 12px;
        line-height: 50px;
        font-weight: 300;
        float: left;
        color: white;
        background-color: transparent;
        border-style: none;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      bottom: 0;
      text-align: right;
      float: right;
      position: relative;
      z-index: 5;
      li {
        display: inline-block;
        margin-right: 21px;
        a {
          display: block;
          line-height: 52px;
          font-size: 12px;
          color: white;
        }
      }
    }
  }

  // Style for font awesome By Teloi
  .fa-one {
    background: -webkit-linear-gradient(top, #000, #678875);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    text-shadow: -2px -2px 0px #00b3ff;
    margin-right: 0px;
    margin-top: 0px;
  }

  .fa-one:hover {
    background: -webkit-linear-gradient(top, #ff77bb, #678875);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: -2px -2px 0px #ff77bb;
  }

}