//Bootstrap Button OutSide boder Remove
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

//padding
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  background: -webkit-linear-gradient(12deg, #fff 10%, #67bdec 48%, #67bdec 52%, #fff 90%);
  margin: 0px;
  //overflow: hidden;
}

.fa-text {
  padding-right: 5px;
}