//Bootstrap Button OutSide boder Remove
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

//padding
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  margin: 0px;
  overflow: hidden;
}