<!--<img style="position:fixed;"  src="../../../assets/img/bg-image.jpg" height="100%" width="100%" ondragstart="return false;"/>-->
<div class="mainIndex">
  <div class="overColor">
    <div class="container-fluid">
      <div class="col-md-1 col-md-offset-11">
        <!--<div [@simAnim]="staticIn" class="fa fa-gamepad fa-4x fa-one" (mouseover)="togglePosition();"></div>-->
        <a href="game/gindex" class="fa fa-gamepad fa-3x fa-one" style="text-decoration: none;"></a>
      </div>
    </div>

    <div class="header">
      <div class="footer">
        <span>&copy;晋ICP备16007595号-2</span>
        <ul>
          <li><a href="#" target="_blank" title="twitter"><i class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></i></a></li>
          <li><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#" target="_blank" title="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>