<div class="mainIndex">
  <div class="overColor">
    <div class="container-fluid">
      <div class="col-md-1 col-md-offset-11">
        <a routerLink="../game" [@simAnim]="staticIn" class="fa fa-gamepad fa-3x fa-one"
           (mouseover)="togglePosition();"></a>
      </div>
    </div>
    <!--<img src="../../../assets/img/car/crate.jpg" (mousemove)="changepo($enent)">-->

    <div class="header">
      <div class="footer">
        <span>&copy;晋ICP备16007595号-2</span>
        <ul>
          <li><a href="http://www.weibo.com/teloi" target="_blank" title="微博"><i class="fa fa-weibo"
                                                                                 aria-hidden="true"></i></a></li>
          <li><a href="mailto:teloi.zhang@esooft.com" target="_blank" title="邮箱"><i class="fa fa-envelope"
                                                                                    aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>