<div class="container-fluid">
  <div class="container">
    <section id="banner" class="banner no-padding">
      <div class="row no-gutter">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="col-md-12">
                <blockquote>
                  <h1>ThreeJS Ammo.js cannon.js MMD</h1>
                  <p></p>
                </blockquote>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container">
    <section id="works" class="works section no-padding">
      <div class="row no-gutter">
        <div class="col-lg-3 col-md-6 col-sm-6 work" [@simAnim]="staticIn"><a routerLink="./gdemo" class="work-box">
          <img src="../../../../assets/img/gameimg/gdemo.png" alt="">
          <div class="overlay">
            <div class="overlay-caption">
              <h5>ThreeJS Demo</h5>
              <p><i class="fa fa-search-plus fa-2x"></i></p>
            </div>
          </div>
          <!-- overlay -->
        </a></div>
        <div class="col-lg-3 col-md-6 col-sm-6 work" [@simAnim]="staticIn"><a routerLink="./gcar" class="work-box">
          <img src="../../../../assets/img/gameimg/gcar.png" alt="">
          <div class="overlay">
            <div class="overlay-caption">
              <h5>ThreeJS Car</h5>
              <p><i class="fa fa-search-plus fa-2x"></i></p>
            </div>
          </div>
          <!-- overlay -->
        </a></div>
        <div class="col-lg-3 col-md-6 col-sm-6 work" [@simAnim]="staticIn"><a routerLink="./gammo" class="work-box">
          <img src="../../../../assets/img/gameimg/gammo.png" alt="">
          <div class="overlay">
            <div class="overlay-caption">
              <h5>ThreeJS Ammo</h5>
              <p><i class="fa fa-search-plus fa-2x"></i></p>
            </div>
          </div>
          <!-- overlay -->
        </a></div>
        <div class="col-lg-3 col-md-6 col-sm-6 work" [@simAnim]="staticIn"><a routerLink="./gammocar" class="work-box">
          <img src="../../../../assets/img/gameimg/gammocar.png" alt="">
          <div class="overlay">
            <div class="overlay-caption">
              <h5>ThreeJS AmmoCar</h5>
              <p><i class="fa fa-search-plus fa-2x"></i></p>
            </div>
          </div>
          <!-- overlay -->
        </a></div>
        <div class="col-lg-3 col-md-6 col-sm-6 work" [@simAnim]="staticIn"><a routerLink="./gviewer" class="work-box">
          <img src="../../../../assets/img/gameimg/g_none.jpg" alt="">
          <div class="overlay">
            <div class="overlay-caption">
              <h5>ThreeJS Viewer</h5>
              <p><i class="fa fa-search-plus fa-2x"></i></p>
            </div>
          </div>
          <!-- overlay -->
        </a></div>
        <div class="col-lg-3 col-md-6 col-sm-6 work" [@simAnim]="staticIn"><a routerLink="./gcaviewer" class="work-box">
          <img src="../../../../assets/img/gameimg/g_none.jpg" alt="">
          <div class="overlay">
            <div class="overlay-caption">
              <h5>Cannon Viewer</h5>
              <p><i class="fa fa-search-plus fa-2x"></i></p>
            </div>
          </div>
          <!-- overlay -->
        </a></div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"><a routerLink="./" class="work-box">
          <img src="../../../../assets/img/gameimg/g_none.jpg" alt="">
          <div class="overlay">
            <div class="overlay-caption">
              <h5>None</h5>
              <p><i class="fa fa-search-plus fa-2x"></i></p>
            </div>
          </div>
          <!-- overlay -->
        </a></div>
        <div class="col-lg-3 col-md-6 col-sm-6 work"><a routerLink="./" class="work-box">
          <img src="../../../../assets/img/gameimg/g_none.jpg" alt="">
          <div class="overlay">
            <div class="overlay-caption">
              <h5>None</h5>
              <p><i class="fa fa-search-plus fa-2x"></i></p>
            </div>
          </div>
          <!-- overlay -->
        </a></div>
      </div>
    </section>
  </div>
</div>

