<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
		  <rules>
			  <rule name="redirect all" stopProcessing="true">
				  <match url="^(.*)$" ignoreCase="false" />
				  <conditions logicalGrouping="MatchAll">
					  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
					  <add input="{REQUEST_URI}" negate="true" pattern="^\/api\/.*$" ignoreCase="true" />
				  </conditions>
				  <action type="Rewrite" url="/index.html" appendQueryString="true" />
			  </rule>
		  </rules>
		</rewrite>
		<staticContent>
		 <remove fileExtension=".json" />
         <remove fileExtension=".woff" />
         <remove fileExtension=".woff2" />
         <remove fileExtension=".dae" />
         <remove fileExtension=".pmx" />
         <remove fileExtension=".pmd" />
         <remove fileExtension=".tga" />
         <remove fileExtension=".sph" />
         <remove fileExtension=".vmd" />
         <remove fileExtension=".vpd" />
         <remove fileExtension=".mp3" />
         <mimeMap fileExtension=".json" mimeType="application/json" />
         <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
         <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
         <mimeMap fileExtension=".dae" mimeType="application/dae" />
         <mimeMap fileExtension=".pmx" mimeType="application/octet-stream" />
         <mimeMap fileExtension=".pmd" mimeType="application/octet-stream" />
         <mimeMap fileExtension=".vmd" mimeType="application/octet-stream" />
         <mimeMap fileExtension=".vpd" mimeType="application/octet-stream" />
         <mimeMap fileExtension=".tga" mimeType="application/octet-stream" />
         <mimeMap fileExtension=".sph" mimeType="application/octet-stream" />
         <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
      </staticContent>
    </system.webServer>
</configuration>
